@charset "UTF-8";
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 18px 50px;
    border: 0px solid #c72638;
    border-radius: 22px;
    background: #ff3d5b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff3d5b), to(#c72638));
    background: -moz-linear-gradient(top, #ff3d5b, #c72638);
    background: linear-gradient(to bottom, #ff3d5b, #c72638);
    text-shadow: #7d1823 px 1px 0px;
    font: normal normal bold 25px comic sans ms;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 0px solid ##f92f46;
    background: #B22222;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff496d), to(#ef2e43));
    background: -moz-linear-gradient(top, #ff496d, #ef2e43);
    background: linear-gradient(to bottom, #ff496d, #ef2e43);
    color: #A52A2A;
    text-decoration: none;
}
.button:active {
    background: #c72638;
    background: -webkit-gradient(linear, left top, left bottom, from(#c72638), to(#c72638));
    background: -moz-linear-gradient(top, #c72638, #c72638);
    background: linear-gradient(to bottom, #c72638, #c72638);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 1px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAADWUlEQVRIiY2WwWtUVxTGf+dm8pJMhjRORImLEKKLMBBLQFCmy/EPyEItmEkX2boXZuM2FBeuspFugvOCDVK6VDR0YaNFimkI6KYdxhSbOmQxTEvLS8Z7upj7nncmL2kOPN7hnHfP+c53z73nCWBIkZflMqheULgGlIACcMa5G8AbYB1YU6h9EYZpYRCXwPqJXszPTwFLAnOIZABQBZFDAVS1DXwPVIph+KsXxwLGT8CPi4vGRFEZWEYkJy6oAomuirg34Ot/A7eGRKqz1WoM2CaoXfDbIrIiIjkB1CH29bgKEenVcyKy8q/q7V/K5QR0xsWPkS8ldBwj6pKm6Ygs/aP6B1BN9sBxvikiuS6+VTsBPL2HluPo+rwYhjV5WS4bVf0WuBZTIR4y098PItj9/c5i5zdBAKrYg4P0SlQfCXyZQfWC65YuGoLRUSbLZUYvXgQRWm/fUn/wAIDJhQVGCgWwlubWFvUwZL/Z7GVyTmEq4/o8k6BWxQwOUqhUGDp3Lin/1Ows2YkJAAbGxhL72JUrZCcm2L5zBxtFyf6JSEZVbxg6h6jTfqqoCGevXmVwfDwJEvuDfJ4gnz9kHxwf52ypFG+Qf15KBiiISFfbjUxPE9tO+oxMT/dSBFAwwJkYUUyRtTZBqaon0q21cUl+m59ODpo6hwKtd+8+2Xz/MXqrXu8k7bEboNFb7oeNDXBXwkketZY/NzYO2YE9Q+dW7Mr+cXeX2tOnJ6bot8ePsY1GQrNX4RsDrCcGt8iIUA9DPmxv/y9Fu69f8/vDhxiPZu+bdQOsAe3e8rLWsnX3LjvPnwOklU/t2TO2791jKIVORNrAWt/izExTRGaAQnwNxAgHVNl99YrGzg758+fpz2YB+Ov9e35eXmbvyRNycXvH17hjAniEyDddlx2QI0XaqrSsZezyZT5GEc3NTT7r66MvZQA5aQGzxTCsJQPnxfz8VyKyctQKgANrESBjUqdsIqq6UAzDVfDGZBRFVVWtxF2QbJin94skqP1u6dJVK8Hw8KoLa7tG5g/Xr5uBIOiMzCPoOkZawK1geHj10v37NjYeNfQnga+BOYmH/lF0QBvV7+gM/Xqvv6sCJwawP928aazIFHBDoKSd35bT7ps9vN8WRGpFb9D7cf4DJX7lTJgKDIgAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}

.btn {
  background-color:#4169E1; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 18px 50px; /* Some padding */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  text-shadow: #7d1823 px 1px 0px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #191970;
}

