@charset "UTF-8";


.btn-primary {
  color: #DC143C;
  background-color: ＃FF7F50;
  border-color: #7cbd1e;
  
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover{
  color: #fff;
  background-color: ＃FF7F50;
  border-color: ＃FF7F50;
}