USE [HOUSEDB]
GO
/****** Object:  Table [dbo].[NewTaipei]    Script Date: 2020/5/14 下午 07:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewTaipei](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[district] [nvarchar](10) NULL,
	[parking] [nvarchar](30) NULL,
	[location] [nvarchar](60) NULL,
	[using] [nvarchar](50) NULL,
	[constructor] [nvarchar](40) NULL,
	[fdate] [nvarchar](30) NULL,
	[square] [float] NULL,
	[tprice] [float] NULL,
	[uprice] [float] NULL,
 CONSTRAINT [PK_NewTaipei] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NewTaipei] ON 

INSERT [dbo].[NewTaipei] ([id], [district], [parking], [location], [using], [constructor], [fdate], [square], [tprice], [uprice]) VALUES (1, N'板橋區', N'房地(土地+建物)', N'新北市板橋區文化路二段125巷1~30號', N'住家用', N'鋼筋混凝土造', N'620821', 98.49, 1100, 11.1686)
INSERT [dbo].[NewTaipei] ([id], [district], [parking], [location], [using], [constructor], [fdate], [square], [tprice], [uprice]) VALUES (2, N'板橋區', N'房地(土地+建物)+車位', N'新北市板橋區華東街271~300號', N'見其他登記事項', N'鋼筋混凝土造', N'1050210', 160.45, 2453, 16.6617)
INSERT [dbo].[NewTaipei] ([id], [district], [parking], [location], [using], [constructor], [fdate], [square], [tprice], [uprice]) VALUES (3, N'板橋區', N'房地(土地+建物)', N'新北市板橋區中正路121~150號', N'住家用', N'鋼筋混凝土造', N'670320', 68.72, 750, 10.9139)
GO
SET IDENTITY_INSERT [dbo].[NewTaipei] OFF
