USE [HOUSEDB]
GO
/****** Object:  Table [dbo].[Taipei]    Script Date: 2020/5/14 下午 07:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taipei](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[district] [nvarchar](10) NULL,
	[parking] [nvarchar](30) NULL,
	[location] [nvarchar](60) NULL,
	[using] [nvarchar](50) NULL,
	[constructor] [nvarchar](40) NULL,
	[fdate] [nvarchar](10) NULL,
	[square] [float] NULL,
	[tprice] [float] NULL,
	[uprice] [float] NULL,
 CONSTRAINT [PK_Taipei] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Taipei] ON 

INSERT [dbo].[Taipei] ([id], [district], [parking], [location], [using], [constructor], [fdate], [square], [tprice], [uprice]) VALUES (1, N'文山區', N'房地(土地+建物)', N'興隆路三段152巷11-20號', N'見其他登記事項', N'鋼筋混凝土造', N'1090115', 21.36, 1300, 60.86)
INSERT [dbo].[Taipei] ([id], [district], [parking], [location], [using], [constructor], [fdate], [square], [tprice], [uprice]) VALUES (2, N'中山區', N'房地(土地+建物)+車位', N'植福路286巷21-30號', N'住家用', N'見其他登記事項', N'1031229', 166.01, 33430, 228.33)
INSERT [dbo].[Taipei] ([id], [district], [parking], [location], [using], [constructor], [fdate], [square], [tprice], [uprice]) VALUES (3, N'文山區', N'房地(土地+建物)', N'興隆路三段185巷11弄11-20號', N'住家用', N'鋼筋混凝土造', N'0720823', 25.03, 790, 31.56)
GO
SET IDENTITY_INSERT [dbo].[Taipei] OFF
