USE [HOUSEDB]
GO
/****** Object:  Table [dbo].[favorite]    Script Date: 2020/5/25 下午 02:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite](
	[hid] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NULL,
	[uprice] [float] NULL,
	[ping] [float] NULL,
	[address] [nvarchar](255) NULL,
	[MRT] [nvarchar](255) NULL,
	[age] [float] NULL,
	[accountid] [float] NULL,
	[houseid] [float] NULL,
	[hosueId] [int] NULL,
	[houseimg] [nvarchar](max) NULL,
	[addtime] [date] NOT NULL,
	[addDate] [datetime] NULL,
 CONSTRAINT [PK_favorite] PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[favorite] ([hid], [title], [uprice], [ping], [address], [MRT], [age], [accountid], [houseid], [hosueId], [houseimg], [addtime], [addDate]) VALUES (N'1', N'內湖五期遠雄紐約全新小豪宅', 60.13, 37.92, N'台北市內湖區新豐街', N'松山站', NULL, 5, 4, NULL, NULL, CAST(N'2020-05-14' AS Date), NULL)
INSERT [dbo].[favorite] ([hid], [title], [uprice], [ping], [address], [MRT], [age], [accountid], [houseid], [hosueId], [houseimg], [addtime], [addDate]) VALUES (N'2', N'B085碧園華廈', 60.42, 38.07, N'台北市文山區羅斯福路五段79巷', N'萬隆站', NULL, 4, 5, NULL, NULL, CAST(N'2020-05-03' AS Date), NULL)
INSERT [dbo].[favorite] ([hid], [title], [uprice], [ping], [address], [MRT], [age], [accountid], [houseid], [hosueId], [houseimg], [addtime], [addDate]) VALUES (N'3', N'碧潭水岸首席 涵碧美學御所', 65.03, 38, N'新北市新店區北新路一段73號', N'新店站', 0, 6, 6, NULL, NULL, CAST(N'2020-05-23' AS Date), NULL)
