USE [HOUSEDB]
GO
/****** Object:  Table [dbo].[Houselist]    Script Date: 2020/5/25 下午 03:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houselist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[totalprice] [varchar](20) NULL,
	[unitprice] [varchar](20) NULL,
	[ping] [varchar](50) NULL,
	[city] [nvarchar](20) NULL,
	[dist] [nvarchar](20) NULL,
	[addr] [nvarchar](100) NULL,
	[phone] [varchar](10) NULL,
	[apartment] [nvarchar](50) NULL,
	[accountid] [int] NULL,
	[room] [int] NULL,
	[hall] [int] NULL,
	[bath] [int] NULL,
	[mrtpk] [int] NULL,
	[lat] [varchar](50) NULL,
	[lon] [varchar](50) NULL,
 CONSTRAINT [PK_Houselist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Houselist] ON 

INSERT [dbo].[Houselist] ([id], [title], [totalprice], [unitprice], [ping], [city], [dist], [addr], [phone], [apartment], [accountid], [room], [hall], [bath], [mrtpk], [lat], [lon]) VALUES (1, N'天母典藏逸居', N'2980', N'66.22', N'45', N'台北市', N'北投區', N'天母西路117巷', N'0988776655', N'天母新城B座', 5, 3, 2, 2, 42, N'25.119791', N'121.523614')
INSERT [dbo].[Houselist] ([id], [title], [totalprice], [unitprice], [ping], [city], [dist], [addr], [phone], [apartment], [accountid], [room], [hall], [bath], [mrtpk], [lat], [lon]) VALUES (2, N'大湖公園前華廈.面中庭.三房+大車位', N'2720', N'58.22', N'46.72', N'台北市', N'內湖區', N'成功路五段', N'0988776655', N'大湖社區', 5, 3, 2, 2, 20, N'25.078549', N'121.607082')
INSERT [dbo].[Houselist] ([id], [title], [totalprice], [unitprice], [ping], [city], [dist], [addr], [phone], [apartment], [accountid], [room], [hall], [bath], [mrtpk], [lat], [lon]) VALUES (3, N'B085碧園華廈', N'2300', N'60.42', N'38.07', N'台北市', N'文山區', N'羅斯福路五段79巷', N'0988776655', N'羅斯福碧園', 5, 2, 2, 2, 59, N'25.006279', N'121.539182')
SET IDENTITY_INSERT [dbo].[Houselist] OFF
ALTER TABLE [dbo].[Houselist]  WITH CHECK ADD  CONSTRAINT [FKdjy3s21yqli33pyktrioii3bs] FOREIGN KEY([accountid])
REFERENCES [dbo].[Member] ([pkNo])
GO
ALTER TABLE [dbo].[Houselist] CHECK CONSTRAINT [FKdjy3s21yqli33pyktrioii3bs]
GO
ALTER TABLE [dbo].[Houselist]  WITH CHECK ADD  CONSTRAINT [FKhc6okg2nvfq15s0n6gn6habbo] FOREIGN KEY([mrtpk])
REFERENCES [dbo].[Mrt] ([pk])
GO
ALTER TABLE [dbo].[Houselist] CHECK CONSTRAINT [FKhc6okg2nvfq15s0n6gn6habbo]
GO
