USE [HOUSEDB]
GO
/****** Object:  Table [dbo].[Mrt]    Script Date: 2020/5/25 下午 03:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mrt](
	[pk] [int] IDENTITY(1,1) NOT NULL,
	[stationcode] [varchar](50) NULL,
	[stationname] [nvarchar](50) NULL,
	[linecode] [varchar](50) NULL,
	[linename] [nvarchar](50) NULL,
	[addr] [nvarchar](100) NULL,
	[lat] [varchar](50) NULL,
	[lon] [varchar](50) NULL,
 CONSTRAINT [PK_MRT] PRIMARY KEY CLUSTERED 
(
	[pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mrt] ON 

INSERT [dbo].[Mrt] ([pk], [stationcode], [stationname], [linecode], [linename], [addr], [lat], [lon]) VALUES (1, N'BR01', N'動物園', N'BR', N'文湖線', N'臺北市文山區新光路2段32號', N'24.998282', N'121.57981')
INSERT [dbo].[Mrt] ([pk], [stationcode], [stationname], [linecode], [linename], [addr], [lat], [lon]) VALUES (2, N'BR02', N'木柵', N'BR', N'文湖線', N'臺北市文山區木柵路4段135號', N'24.998189', N'121.573418')
INSERT [dbo].[Mrt] ([pk], [stationcode], [stationname], [linecode], [linename], [addr], [lat], [lon]) VALUES (3, N'BR03', N'萬芳社區', N'BR', N'文湖線', N'臺北市文山區萬芳路60號', N'24.998664', N'121.568307')
GO
SET IDENTITY_INSERT [dbo].[Mrt] OFF
