USE [HOUSEDB]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2020/4/26 下午 03:51:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[news_number] [int] IDENTITY(1,1) NOT NULL,
	[news_title] [nvarchar](50) NULL,
	[news_content] [nvarchar](4000) NULL,
	[news_city_id] [int] NULL,
	[news_city_name] [nvarchar](10) NULL,
	[news_area_id] [int] NULL,
	[news_area_name] [nvarchar](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[News] ON 

GO
SET IDENTITY_INSERT [dbo].[News] OFF
