USE [HOUSEDB]
GO
/****** Object:  User [blueteam]    Script Date: 2020/5/25 下午 02:45:02 ******/
CREATE USER [blueteam] FOR LOGIN [blueteam] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [blueteam]
GO
/****** Object:  Table [dbo].[Compare]    Script Date: 2020/5/25 下午 02:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compare](
	[houseid] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[totalprice] [varchar](50) NOT NULL,
	[uprice] [nvarchar](50) NOT NULL,
	[ping] [nvarchar](50) NULL,
	[addr] [nvarchar](100) NOT NULL,
	[MRT] [nvarchar](10) NULL,
	[houseage] [nchar](10) NULL,
	[floor] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[userid] [int] NOT NULL,
	[hiberid] [int] NOT NULL,
 CONSTRAINT [PK_ShowFavorite_1] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorite]    Script Date: 2020/5/25 下午 02:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite](
	[hid] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NULL,
	[uprice] [float] NULL,
	[ping] [float] NULL,
	[address] [nvarchar](255) NULL,
	[MRT] [nvarchar](255) NULL,
	[age] [float] NULL,
	[accountid] [float] NULL,
	[houseid] [float] NULL,
	[hosueId] [int] NULL,
	[houseimg] [nvarchar](max) NULL,
	[addtime] [date] NOT NULL,
	[addDate] [datetime] NULL,
 CONSTRAINT [PK_favorite] PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Houselist]    Script Date: 2020/5/25 下午 02:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houselist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[totalprice] [varchar](20) NULL,
	[unitprice] [varchar](10) NULL,
	[ping] [varchar](50) NULL,
	[addr] [nvarchar](100) NULL,
	[phone] [varchar](10) NULL,
	[apartment] [nvarchar](50) NULL,
	[accountid] [int] NULL,
	[MRT] [nvarchar](50) NULL,
	[adddate] [date] NULL,
 CONSTRAINT [PK_Houselist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2020/5/25 下午 02:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[pkNo] [int] IDENTITY(1,1) NOT NULL,
	[account] [varchar](20) NULL,
	[password] [varchar](50) NULL,
	[name] [varchar](32) NULL,
	[idCard] [varchar](20) NULL,
	[gender] [varchar](10) NULL,
	[memberType] [varchar](20) NULL,
	[tel] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[registerDate] [datetime] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[pkNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MRT]    Script Date: 2020/5/25 下午 02:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MRT](
	[id] [nvarchar](255) NOT NULL,
	[station] [nvarchar](255) NULL,
	[lineid] [nvarchar](255) NULL,
	[line] [nvarchar](255) NULL,
	[addr] [nvarchar](255) NULL,
	[緯度] [float] NULL,
	[經度] [float] NULL,
 CONSTRAINT [PK_MRT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewTaipei]    Script Date: 2020/5/25 下午 02:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewTaipei](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[district] [nvarchar](10) NULL,
	[parking] [nvarchar](30) NULL,
	[location] [nvarchar](60) NULL,
	[using] [nvarchar](50) NULL,
	[constructor] [nvarchar](40) NULL,
	[fdate] [nvarchar](30) NULL,
	[square] [float] NULL,
	[tprice] [float] NULL,
	[uprice] [float] NULL,
 CONSTRAINT [PK_NewTaipei] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[favorite] ([hid], [title], [uprice], [ping], [address], [MRT], [age], [accountid], [houseid], [hosueId], [houseimg], [addtime], [addDate]) VALUES (N'1', N'內湖五期遠雄紐約全新小豪宅', 60.13, 37.92, N'台北市內湖區新豐街', N'松山站', NULL, 5, 4, NULL, NULL, CAST(N'2020-05-14' AS Date), NULL)
INSERT [dbo].[favorite] ([hid], [title], [uprice], [ping], [address], [MRT], [age], [accountid], [houseid], [hosueId], [houseimg], [addtime], [addDate]) VALUES (N'2', N'B085碧園華廈', 60.42, 38.07, N'台北市文山區羅斯福路五段79巷', N'萬隆站', NULL, 4, 5, NULL, NULL, CAST(N'2020-05-03' AS Date), NULL)
INSERT [dbo].[favorite] ([hid], [title], [uprice], [ping], [address], [MRT], [age], [accountid], [houseid], [hosueId], [houseimg], [addtime], [addDate]) VALUES (N'3', N'碧潭水岸首席 涵碧美學御所', 65.03, 38, N'新北市新店區北新路一段73號', N'新店站', 0, 6, 6, NULL, NULL, CAST(N'2020-05-23' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Houselist] ON 

INSERT [dbo].[Houselist] ([id], [title], [totalprice], [unitprice], [ping], [addr], [phone], [apartment], [accountid], [MRT], [adddate]) VALUES (4, N'內湖五期遠雄紐約全新小豪宅', N'2280', N'60.13', N'37.92', N'台北市內湖區新豐街', N'0988776655', N'遠雄紐約', 5, N'松山站', NULL)
INSERT [dbo].[Houselist] ([id], [title], [totalprice], [unitprice], [ping], [addr], [phone], [apartment], [accountid], [MRT], [adddate]) VALUES (5, N'B085碧園華廈', N'2300', N'60.42', N'38.07', N'台北市文山區羅斯福路五段79巷', N'0912345678', N'羅斯福碧園', 4, N'萬隆站', NULL)
INSERT [dbo].[Houselist] ([id], [title], [totalprice], [unitprice], [ping], [addr], [phone], [apartment], [accountid], [MRT], [adddate]) VALUES (6, N'碧潭水岸首席
涵碧美學御所', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'新店站', NULL)
SET IDENTITY_INSERT [dbo].[Houselist] OFF
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([pkNo], [account], [password], [name], [idCard], [gender], [memberType], [tel], [email], [registerDate]) VALUES (1, N'scott123', N'scott123', N'李建輝', N'A123456789', N' male male', N'commissioner', N'0912345678', N'5413gary@gmail.com', CAST(N'2020-04-26T12:52:34.880' AS DateTime))
INSERT [dbo].[Member] ([pkNo], [account], [password], [name], [idCard], [gender], [memberType], [tel], [email], [registerDate]) VALUES (2, N'scott456', N'scott456', N'李建輝', N'A123456789', N' male', N'landlord', N'0912345678', N'5413gary@gmail.com', CAST(N'2020-04-26T16:00:57.690' AS DateTime))
INSERT [dbo].[Member] ([pkNo], [account], [password], [name], [idCard], [gender], [memberType], [tel], [email], [registerDate]) VALUES (3, N'scott789', N'scott789', N'scott789', N'scott789', N'scott789', N'scott789', N'scott789', N'scott789', NULL)
SET IDENTITY_INSERT [dbo].[Member] OFF
INSERT [dbo].[MRT] ([id], [station], [lineid], [line], [addr], [緯度], [經度]) VALUES (N'BL01', N'頂埔', N'BL', N'板南線', N'新北市土城區中央路4段51之6號B3', 24.959567, 121.419574)
INSERT [dbo].[MRT] ([id], [station], [lineid], [line], [addr], [緯度], [經度]) VALUES (N'BL02', N'永寧', N'BL', N'板南線', N'新北市土城區中央路3段105號B1', 24.96609, 121.43559)
INSERT [dbo].[MRT] ([id], [station], [lineid], [line], [addr], [緯度], [經度]) VALUES (N'BL03', N'土城', N'BL', N'板南線', N'新北市土城區金城路1段105號B1', 24.972786, 121.443752)
GO
SET IDENTITY_INSERT [dbo].[NewTaipei] ON 

INSERT [dbo].[NewTaipei] ([id], [district], [parking], [location], [using], [constructor], [fdate], [square], [tprice], [uprice]) VALUES (1, N'板橋區', N'房地(土地+建物)', N'新北市板橋區文化路二段125巷1~30號', N'住家用', N'鋼筋混凝土造', N'620821', 98.49, 1100, 11.1686)
INSERT [dbo].[NewTaipei] ([id], [district], [parking], [location], [using], [constructor], [fdate], [square], [tprice], [uprice]) VALUES (2, N'板橋區', N'房地(土地+建物)+車位', N'新北市板橋區華東街271~300號', N'見其他登記事項', N'鋼筋混凝土造', N'1050210', 160.45, 2453, 16.6617)
INSERT [dbo].[NewTaipei] ([id], [district], [parking], [location], [using], [constructor], [fdate], [square], [tprice], [uprice]) VALUES (3, N'板橋區', N'房地(土地+建物)', N'新北市板橋區中正路121~150號', N'住家用', N'鋼筋混凝土造', N'670320', 68.72, 750, 10.9139)
GO
SET IDENTITY_INSERT [dbo].[NewTaipei] OFF
ALTER TABLE [dbo].[Houselist]  WITH CHECK ADD  CONSTRAINT [FK_Houselist_acctid] FOREIGN KEY([accountid])
REFERENCES [dbo].[Member] ([pkNo])
GO
ALTER TABLE [dbo].[Houselist] CHECK CONSTRAINT [FK_Houselist_acctid]
GO
ALTER TABLE [dbo].[Houselist]  WITH CHECK ADD  CONSTRAINT [FKdjy3s21yqli33pyktrioii3bs] FOREIGN KEY([accountid])
REFERENCES [dbo].[Member] ([pkNo])
GO
ALTER TABLE [dbo].[Houselist] CHECK CONSTRAINT [FKdjy3s21yqli33pyktrioii3bs]
GO
