USE [HOUSEDB]
GO
/****** Object:  Table [dbo].[Compare]    Script Date: 2020/5/25 下午 02:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compare](
	[houseid] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[totalprice] [varchar](50) NOT NULL,
	[uprice] [nvarchar](50) NOT NULL,
	[ping] [nvarchar](50) NULL,
	[addr] [nvarchar](100) NOT NULL,
	[MRT] [nvarchar](10) NULL,
	[houseage] [nchar](10) NULL,
	[floor] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[userid] [int] NOT NULL,
	[hiberid] [int] NOT NULL,
 CONSTRAINT [PK_ShowFavorite_1] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
