USE [HOUSEDB]
GO
ALTER TABLE [dbo].[favorite] DROP CONSTRAINT [FK_favorite_favorite]
GO
/****** Object:  Table [dbo].[favorite]    Script Date: 2020/5/26 下午 06:31:58 ******/
DROP TABLE [dbo].[favorite]
GO
/****** Object:  Table [dbo].[favorite]    Script Date: 2020/5/26 下午 06:31:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorite](
	[hid] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[uprice] [float] NULL,
	[ping] [float] NULL,
	[address] [nvarchar](255) NULL,
	[station] [nvarchar](255) NULL,
	[room] [int] NULL,
	[accountid] [float] NULL,
	[houseid] [float] NULL,
	[hosueId] [int] NULL,
	[houseimg] [nvarchar](max) NULL,
	[addDate] [date] NOT NULL,
 CONSTRAINT [PK_favorite] PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[favorite] ([hid], [title], [uprice], [ping], [address], [station], [room], [accountid], [houseid], [hosueId], [houseimg], [addDate]) VALUES (1, N'內湖五期遠雄紐約全新小豪宅', 60.13, 37.92, N'台北市內湖區新豐街', N'松山站', NULL, 6, 4, NULL, NULL, CAST(N'2020-05-14' AS Date))
INSERT [dbo].[favorite] ([hid], [title], [uprice], [ping], [address], [station], [room], [accountid], [houseid], [hosueId], [houseimg], [addDate]) VALUES (2, N'B085碧園華廈', 60.42, 38.07, N'台北市文山區羅斯福路五段79巷', N'萬隆站', NULL, 6, 5, NULL, NULL, CAST(N'2020-05-03' AS Date))
ALTER TABLE [dbo].[favorite]  WITH CHECK ADD  CONSTRAINT [FK_favorite_favorite] FOREIGN KEY([hid])
REFERENCES [dbo].[favorite] ([hid])
GO
ALTER TABLE [dbo].[favorite] CHECK CONSTRAINT [FK_favorite_favorite]
GO
