USE [HOUSEDB]
GO
/****** Object:  Table [dbo].[Houselist]    Script Date: 2020/5/25 下午 02:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Houselist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[totalprice] [varchar](20) NULL,
	[unitprice] [varchar](10) NULL,
	[ping] [varchar](50) NULL,
	[addr] [nvarchar](100) NULL,
	[phone] [varchar](10) NULL,
	[apartment] [nvarchar](50) NULL,
	[accountid] [int] NULL,
	[MRT] [nvarchar](50) NULL,
	[adddate] [date] NULL,
 CONSTRAINT [PK_Houselist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Houselist] ON 

INSERT [dbo].[Houselist] ([id], [title], [totalprice], [unitprice], [ping], [addr], [phone], [apartment], [accountid], [MRT], [adddate]) VALUES (4, N'內湖五期遠雄紐約全新小豪宅', N'2280', N'60.13', N'37.92', N'台北市內湖區新豐街', N'0988776655', N'遠雄紐約', 5, N'松山站', NULL)
INSERT [dbo].[Houselist] ([id], [title], [totalprice], [unitprice], [ping], [addr], [phone], [apartment], [accountid], [MRT], [adddate]) VALUES (5, N'B085碧園華廈', N'2300', N'60.42', N'38.07', N'台北市文山區羅斯福路五段79巷', N'0912345678', N'羅斯福碧園', 4, N'萬隆站', NULL)
INSERT [dbo].[Houselist] ([id], [title], [totalprice], [unitprice], [ping], [addr], [phone], [apartment], [accountid], [MRT], [adddate]) VALUES (6, N'碧潭水岸首席
涵碧美學御所', NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'新店站', NULL)
SET IDENTITY_INSERT [dbo].[Houselist] OFF
ALTER TABLE [dbo].[Houselist]  WITH CHECK ADD  CONSTRAINT [FK_Houselist_acctid] FOREIGN KEY([accountid])
REFERENCES [dbo].[Member] ([pkNo])
GO
ALTER TABLE [dbo].[Houselist] CHECK CONSTRAINT [FK_Houselist_acctid]
GO
ALTER TABLE [dbo].[Houselist]  WITH CHECK ADD  CONSTRAINT [FKdjy3s21yqli33pyktrioii3bs] FOREIGN KEY([accountid])
REFERENCES [dbo].[Member] ([pkNo])
GO
ALTER TABLE [dbo].[Houselist] CHECK CONSTRAINT [FKdjy3s21yqli33pyktrioii3bs]
GO
